<head>
</head>



<body>
<%=yield%>
</body>




<foot>
<p><a href="http://www.tutorialsteacher.com/d3js">The tutorial we used</a></p>         <p><a href="https://github.com/d3/d3/blob/master/API.md">D3 API/Terminology reference</a></p>
</foot>